.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.App-buttons div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-buttons button {
  margin: 10px;
}
