.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.App-form div, label {
  margin: 10px;
  vertical-align: middle;
}

.App-form input {
  max-width: 50px;
}

.App-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.App-buttons div {
  display: flex;
  flex-direction: column;
}

.App-buttons button {
  margin: 10px;
}

.App-logo {
  margin-top: 50px;
  width: 25vw;
  filter: invert(1);
}